%h1 Listing items

%table
  %thead
    %tr
      %th Name
      %th Description
      %th Price
      %th
      %th
      %th

  %tbody
    - @items.each do |item|
      %tr
        %td= image_tag item.item_images.first.src.url, width: "100"
        %td= item.name
        %td= item.description
        %td= item.price
        %td= link_to 'Show', item
        %td= link_to 'Edit', edit_item_path(item)
        %td= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Item', new_item_path
