= form_with model: @post, local: true, id: "post-form" do |f|
  = f.fields_for :post_images do |image|
    %label#image-previews
      - @post.post_images.each_with_index do |image, i|
        - if image.persisted?
          .image-preview{data:{index: i}}
            = image_tag image.src.url, class:"image-preview__image", data:{index: i}
            .image-preview-buttons
              .js-edit 変更
              .js-remove 削除
      #camera-icon
        = icon 'fas', 'camera'
        クリックして画像を選択
      = image.file_field :src, class: "js-file", data:{index: image.index}
      - if @post.persisted?
        = image.check_box :_destroy, class: 'destroy_check'
  = f.text_field :content, placeholder: 'type a message'
  = f.submit '送信', id: "post-form-button"
= link_to "トップへ戻る", root_path